---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <div id="tips">
    <label>请输入你的出生年月日</label>
    <input id="pw" type="password" />
    <button type="button" onclick="check()">确定</button>
  </div>
  <div id="content" style="display:none;">
  </div>
  <script type="text/ecmascript" src="../public/js/sha1.js"></script>
  <script type="text/javascript">
  function escape(str){
	str = str.replace(/\r?\n/g,"<br />");
	str = str.replace(/[<>&"]/g,function(c){return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];});
	return str;
}
  function check (){
    var pw = document.getElementById("pw").value;
	alert(escape("{{ content }}"));
    if (hex_sha1(pw) == "be9b98a127f2cd5d0994e437d340f2bd2a6cc3cf"){
	      document.getElementById('tips').style.display = "none";
	      //document.getElementById("content").innerHTML = ;
	      document.getElementById("content").style.display = "";
     }else{
		alert("验证失败，你不能查看该文章")
	 }
}

</script>  
</div>
